{# TODO: insert the HTML code from initial_design.html and convert it to a template #}
{# Hint: use jinja blocks #}

{# Note: this is a comment ;) #}

<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Website CSS -->
  <link rel="stylesheet" type="text/css" href="../public/style.css">

  <title>{% block title %}
  {% endblock %}</title>
</head>
<body>
  <header class="site-header">
    {% block header_image %}
    {% endblock %}
    <!-- This is the menu -->
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/about.html">About</a>
            <a class="nav-item nav-link" href="/upload.html">Upload</a>

            </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/login.html">Login</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main container follows (with main content + right sidebar) -->
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Left-side content -->
        <div class="content-box main-content">
            {% block content %}
            {% endblock %}
        </div>
      </div>
      <div class="col-md-4">
        <!-- Right side bar -->
        <div class="content-box" id="account">
          <h4>Your Account</h4>
          {% if session['username'] %}
          <p class="content">Logged in as <b>{{session['username']}}</b><br>
            <b><a href = '/logout.html'>click here to log out</a></b> </p>
          {% else %}
          <p class="logged-out">Not authenticated!</p>
          <p>Click <a href="/login.html">here to login</a></p>
          {% endif %}
        </div>
        <div class="content-box">
          <h4>Changelog</h4>
          <p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-light">
                <div class="d-flex w-100 justify-content-between">
                  <div class="news-item mb-1">We just added authentication!</div>
                  <small class="text-muted">&#128197; 2022-03-31</small>
                </div>
              </li>
              <li class="list-group-item list-group-item-light">
                <div class="d-flex w-100 justify-content-between">
                  <div class="news-item mb-1">&#128151; Migrate to Flask server</div>
                  <small class="text-muted">&#128197; 2022-03-30</small>
                </div>
              </li>
              <li class="list-group-item list-group-item-light">
                <div class="d-flex w-100 justify-content-between">
                  <div class="news-item mb-1">First version of the website</div>
                  <small class="text-muted">&#128197; 2022-03-27</small>
                </div>
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </main>
  <!-- Include Bootstrap script -->
  <script src="./public/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>

