{% extends "_base.html" %}
{% block title %}HomePage{% endblock %}
{% block header_image %}
<div class="container" id="header-image">
    <!--img src="public\images\cats.jpeg" alt="cat pic"-->
    <!-- TODO: insert header image here (Hint: check CSS for existing any styles ;) ) -->
</div>
{% endblock %}
{% block content %}
<h1 class="main-title">Homepage</h1>
          <p class="todo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus porta mauris, vel condimentum leo iaculis vitae. 
            Donec pharetra tellus nec turpis consectetur vehicula. Mauris non sapien vel neque aliquet rhoncus. 
            Quisque odio nisi, pretium ac erat eu, dictum tristique enim. 
            Donec ullamcorper vestibulum felis, id vestibulum nibh sagittis sagittis. Fusce in eros nec magna euismod blandit. 
            Sed aliquet ultrices augue, vitae dapibus diam consequat vitae. Vestibulum facilisis quam id lacinia ornare. 
            Donec scelerisque congue nunc. Praesent vitae ornare nunc. Quisque sollicitudin lacus nec posuere volutpat. Sed porttitor malesuada tellus,
            eget pulvinar nulla volutpat in.</p>
        
{% endblock %}