<!-- TODO: Don't forget to extend the base template ;)  -->
{% extends "_base.html" %}

{% block content %}
<h1 class="main-title">Login</h1>

<form method="post" class="login-form">
  {% if error_msg %}
  <div style="color: red;">{{ error_msg }}</div>
  {% endif %}
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
